@model RescueSite.Entites.User

@{
    ViewData["Title"] = "Login";
    Layout = null;
}


@*<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label mt-2 mb-2">If You Would </label>

                <a asp-action="SignUp">SignUp</a>
            </div>

            <div class="form-group row">
                <input type="submit" value="Login" class="btn btn-primary col-md-6 col-lg-6 mt-3 col-sm-12 m-auto" />
            </div>
        </form>
    </div>
</div>*@





<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Login</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
 <style>
    @@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&display=swap');

</style>
</head>
<body style="font-family:Lemonada" class="login-page">


    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="login.html">
                    <img src="~/vendors/images/deskapp-logo.png" alt="">
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li ><a  asp-action="SignUp" >حساب جديد</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="~/vendors/images/login-page-img.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary" style="font-family:Lemonada">تسجيل الدخول</h2>
                        </div>
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        
                          
                            <div class="input-group custom">
								<input type="email"  style="font-family:Lemonada" asp-for="Email" style="text-align:right" class="form-control form-control-lg"required placeholder="البريد الإلكتروني">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div>
							</div>
							<div class="input-group custom">
								<input type="password"  style="font-family:Lemonada" asp-for="Password" style="text-align:right"  class="form-control form-control-lg" required minlength="6" placeholder="**********">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="dw dw-padlock1"></i></span>
								</div>
							</div>
                            @if (ViewData["login"] != null)
                            {
                              <p class="alert alert-danger" style="text-align:right"  style="font-family:Lemonada">خطأ في كلمة السر أو البريد الإلكتروني</p>
                            }

                           
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group mb-0">
                                        <!--
                                            use code for form submit
                                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                                        -->
                                <input type="submit" value="دخول"  style="font-family:Lemonada" class="btn btn-primary btn-lg btn-block" />
                                    </div>
                                    <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">أو</div>
                                    <div class="input-group mb-0">
                                        <a class="btn btn-outline-primary btn-lg btn-block" style="font-family:Lemonada" asp-action="SignUp">إنشاء حساب جديد</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
</body>
</html>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}